@media screen and (max-width: 768px) {
  .Communication-main {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-content: normal;
  }

  .Communation-right {
    font-size: 1.2rem;
    margin-bottom: 40px;
    font-weight: 500;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .Communation-right .socialMain {
    width: 100%;
    align-items: center;
  }

  .Communation-left {
    margin-bottom: 20px;
    gap: 20px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .desc h1 {
    font-weight: 500;
    font-size: 1.5rem;
  }
  .desc p {
    font-size: 0.9rem;
  }
}
