@media screen and (max-width: 768px) {
    .form{
        display: none;
    }
    .mainbottom h1{
        display: none;
    }
    
    .mainbottom .map{
        width: 100%;
    }
    
    form .form-text{
        font-size: 10px;
        background-color: red;
    }
    .mainbottom.container{
        height: 100%;
        width: 80%;
    }
    .mainbottom .map{
        width: 100%;
        height: 100%;
    }
    .iframe-map{
        padding-top: 30px;
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form{
        height: 300px;
    }
    .form-container{
        height: 250px;
    }
    .form-container h1,
    .form-container p{
        font-size: 12px;
    }

    .form-container .input{
        font-size: 12px;
        padding: 5px 23px;
    }
    .form-container .input1{
        margin-top: 10px;
    }
    .form-container h1{
        margin-top: -10px;
    }
    .form-button{
        height: 30px;
        font-size: 14px;
        width: 100px;
    }
    .iframe-map{
        height: 90%;
    }
    .mainbottom .map{
        height: 80%;
    }
    .mainbottom h1{
        font-size: 30px;
        width: 110%;
    }
    .form-container .form-h1{
        font-size: 20px;
    }
    .form{
        right: 60px;
    }
}
