@media screen and (max-width: 768px) {
  .copyright {
    display:none ;
  }
  .footer-main{
    display: flex;
    gap: 65px;
    justify-content: space-between;
  }
  .logo{
    width: 50%;
  }
  .socialMain{
    width: 15%;
    
  }
}
