@media screen and (max-width: 768px) {
  .itemleftMain {
    width: 35%;

  }
  .items {
    
    gap: 10px;
    width: 92%;
    height: 150px;
    
  }
  .item-right {
    width: 100%;
    height: 120px;
  }
 
  .itemborder {
    height: 120px;
   
  }
  .item-right-container {
    margin-left: 0px;
    margin-top: 0px;
    display: flex;
    height: 120px;
    width: 100%;
    flex-direction: column;
    
  }

  .item-right-top {
    font-size: 16px;
    width: 95%;

  }
  
  .item-right-bottom {
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    width: 95%;
    height: 70px;
  }
}
@media screen and (min-width:768px) and (max-width:991px){
 .items{
  align-items: start;
  gap: 0px;
  display: flex;
  flex-direction: column;
 
}
.itemleftMain{
  height: auto;
}
.itemLeft{
  height: 100%;
}
.item-right{
  width: 100%;
  height: 125px;

}
.itemborder{
  margin-top: 10px;
  margin-bottom: 0;
  height: 1px;
  width: 100%;
}
.item-right-container{
  margin-top: 0;
  margin-left: 0;

}
.items-container{
  margin-top: 20px;
  margin-bottom: -30px;
  gap: 0;
}
.itemh{
  font-size: 16px;
}
.itemP{
  font-size: 12px;
}
}
